# FastAPI / AI Agent config
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=mixtral

# Whisper config
WHISPER_PATH=./main
WHISPER_MODEL=models/ggml-base.en.bin

# Vector Search
CHROMA_PERSIST=api_index
EMBEDDING_MODEL=all-MiniLM-L6-v2
